.header {
    &-link {
        width: 33px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 15px;

        &_round {
            position: absolute;
            top: 7px;
            right: -2px;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: #D74444;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-radius: 100%;
            background: rgb(241, 241, 241);
            transition: .4s;
        }
    }
}